=h content_for(:title, "Tufts Community Union - Senate")
.contentsection
  .row-fluid
    .span4
    .span4
      .formwrapper
        = form_for @senate_member, :url => {:action => "members_update"}, :html => { :multipart => true } do |f|
          %h3
            Add a New Senate Member
          %div
            = f.email_field :email, placeholder: "Email" 
          %div
            = f.text_field :name, placeholder: "Full Name"
          %div
            = f.text_field :title, placeholder: "Title"
          %div
            = f.text_field :graduation_year, placeholder: "Graduation Year or Group (cr or tr)"
          %div
            = f.file_field :profile_image
          %div
            = f.submit "Update", class: "btn btn-success"
    .span4
      = link_to senate_members_delete_path(@senate_member.id), method: "delete" do
        Delete Member