=h content_for(:title, "Tufts Community Union - Elections Commission")
.contentsection
  .container-fluid
    - if admin_signed_in?
      .row-fluid
        .span12.centeredtext
          = link_to electionscommission_members_new_path do
            %h3
              Add New Member
    - @ecom_members.in_groups_of(4, false).each_with_index do |group, index|
      .row-fluid
        .paddedrow
          - group.each do |member|
            .span3
              .memberimgs
                - if admin_signed_in?
                  = link_to electionscommission_members_edit_path(member.id) do
                    .profileimg
                      = image_tag member.photo.url(:square)
                  .textline1
                    = member.name
                  .textline2
                    = member.email
                - else
                  .profileimg
                    = image_tag member.photo.url(:square)
                  .textline1
                    = member.name
                  .textline2
                    = member.email