=h content_for(:title, "Tufts Community Union - Treasury")
.contentsection
  .row-fluid
    .span4
    .span4
      .formwrapper
        = form_tag(url_for treasury_contact_path) do
          - flash.each do |key, value|
            = content_tag(:div, value, :class => "flash #{key}")
          %div
            = text_field_tag 'sender_name', nil, placeholder: "Your Name"
          %div
            = text_field_tag 'sender_email', nil, placeholder: "Your Email"
          %div
            = text_field_tag 'message_subject', nil, placeholder: "Message Subject"
          %div
            = text_field_tag 'message_category', nil, placeholder: "Message Category"
          %div
            = text_area_tag 'message_body', nil, placeholder: "Message Body"
          %div
            = show_simple_captcha
          %div
            = submit_tag "Send Message", class: "btn btn-success"
    .span4