=h content_for(:title, "Tufts Community Union - Treasury")
.contentsection
  .paddedcontent
    %h2.centeredtext
      Telephone Directory
    .tableholder
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th Name
            %th Location
            %th Phone Number
        %tbody
          %tr
            %td TCU Treasury Office
            %td 216 Mayer Campus Center
            %td 
              = phone_number_link("(617) 627-3628")
          %tr
            %td Annie Wong (Business Manager)
            %td 205 Mayer Campus Center
            %td
              = phone_number_link("(617) 627-4112")
          %tr
            %td Monica Pontes (Budget & Fiscal Coordinator)
            %td 206 Mayer Campus Center
            %td
              = phone_number_link("(617) 627-3873")
          %tr
            %td Audio/Visual (A/V) Services
            %td Aidekman Arts Center
            %td
              = phone_number_link("(617) 627-3578")
          %tr
            %td Balch Arena
            %td Aidekman Arts Center
            %td
              = phone_number_link("(617) 627-3493")
          %tr
            %td Buildings and Grounds
            %td 520 Boston Avenue
            %td
              = phone_number_link("(617) 627-3496")
          %tr
            %td Catering Services
            %td 89 Curtis Street
            %td
              = phone_number_link("(617) 627-3411")
          %tr
            %td Dean of Student Affairs
            %td Dowling Hall
            %td
              = phone_number_link("(617) 627-3158")
          %tr
            %td Dining Services
            %td 89 Curtis Street
            %td
              = phone_number_link("(617) 627-3566")
          %tr
            %td Gnomon Copy
            %td 348 Boston Avenue
            %td
              = phone_number_link("(781) 391-6666")
          %tr
            %td Office of Campus Life (OCL)
            %td 110 Mayer Campus Center
            %td
              = phone_number_link("(617) 627-3212")
          %tr
            %td Residential Life
            %td South Hall
            %td
              = phone_number_link("(617) 627-3248")
          %tr
            %td Tufts University Police Department (TUPD) Non-Emergency
            %td 419 Boston Avenue
            %td
              = phone_number_link("(617) 627-3030")