.container-fluid
  .woodsection
    #galleria
      - @slider_images.each do |slider_image|
        - if slider_image.photo_file_name.nil?
          = link_to slider_image.link do
            %span.video
              Video Link
        - else
          = link_to slider_image.link do
            = image_tag slider_image.photo.url
    - if admin_signed_in?
      %h3.centeredtext
        = link_to "Manage Images", sliderimage_index_path
  .contentsection
    .row-fluid
      .paddedrow
        .span3.mainlink.smallercalendar
          %i.icon-calendar
          .mainlinktext
            Calendar
        .span3.mainlink
          %i.icon-lightbulb
          .mainlinktext
            Initiatives
        .span3.mainlink
          %i.icon-file
          .mainlinktext
            Minutes
        .span3.mainlink
          %i.icon-globe
          .mainlinktext
            Contact
    .row-fluid.spacerrow
    .row-fluid.spacerrow
    .row-fluid.spacerrow
    .row-fluid
      .paddedrow
        .span4
          .mainimgs
            .profileimg
              = image_tag("http://imgur.com/3E6xW9l.jpg", class: "profileimg")
            .textline1
              Joe Thibodeau
            .textline2
              TCU President
        .span4
          .mainimgs
            .profileimg
              = image_tag("http://imgur.com/3E6xW9l.jpg", class: "profileimg")
            .textline1
              Stephen Ruggiero
            .textline2
              TCU Vice President
        .span4
          .mainimgs
            .profileimg
              = image_tag("http://imgur.com/3E6xW9l.jpg", class: "profileimg")
            .textline1
              Adam Kochman
            .textline2
              TCU Treasurer
    .row-fluid.spacerrow
    .row-fluid.spacerrow
    .row-fluid.spacerrow
    .row-fluid.spacerrow