.container-fluid
  .woodsection
    #galleria
      - @slider_images.each do |slider_image|
        - if slider_image.photo_file_name.nil?
          = link_to slider_image.link do
            %span.video
              Video Link
        - else
          - if slider_image.link.nil?
            = image_tag slider_image.photo.url
          - else
            = image_tag(slider_image.photo.url, 'data-link' => slider_image.link)
    - if admin_signed_in?
      %h3.centeredtext
        = link_to "Manage Images", sliderimage_index_path
  .contentsection
    .row-fluid
      .paddedrow
        .span3
          = link_to senate_calendar_path, {class: "undecoratedlink"} do
            .mainlink
              %i.icon-calendar
              .mainlinktext
                Calendar
        .span3
          = link_to senate_resolutions_path, {class: "undecoratedlink"} do
            .mainlink
              %i.icon-comment
              .mainlinktext
                Blog
        .span3
          = link_to senate_minutes_path, {class: "undecoratedlink"} do
            .mainlink
              %i.icon-file
              .mainlinktext
                Minutes
        .span3
          = link_to treasury_contact_path, {class: "undecoratedlink"} do
            .mainlink
              %i.icon-globe
              .mainlinktext
                Contact
    .row-fluid.spacerrow
    .row-fluid.spacerrow
    .row-fluid
      %h4
        TCU Executive Board
    .row-fluid
      .paddedrow
        .span2
          .mainimgs
            .profileimg
              = image_tag("darien.png", class: "profileimg")
            .textline1
              Darien Headen
            .textline2
              DCA Officer
        .span2
          .mainimgs
            .profileimg
              = image_tag("bradley.jpg", class: "profileimg")
            .textline1
              Bradley Friedman
            .textline2
              Historian
        .span2
          .mainimgs
            .profileimg
              = image_tag("stephen.png", class: "profileimg")
            .textline1
              Stephen Ruggiero
            .textline2
              Vice President
        .span2
          .mainimgs
            .profileimg
              = image_tag("joe.png", class: "profileimg")
            .textline1
              Joe Thibodeau
            .textline2
              President
        .span2
          .mainimgs
            .profileimg
              = image_tag("adam.jpg", class: "profileimg")
            .textline1
              Adam Kochman
            .textline2
              Treasurer
        .span2
          .mainimgs
            .profileimg
              = image_tag("brian.jpg", class: "profileimg")
            .textline1
              Brian Tesser
            .textline2
              Parliamentarian
    .row-fluid.spacerrow
    .row-fluid.spacerrow
    .row-fluid.spacerrow
    .row-fluid.spacerrow