=h content_for(:title, "Tufts Community Union - Judiciary")
.contentsection
  .paddedcontent
    %h2
      List of Prior TCU Judiciary Documents
    %br/
    %p
      This page compiles all TCU documents relevant to the TCUJ for the sake of institutional memory (started 2012-2013).
    .tableholder
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th
              Name
            %th
              Author
            %th
              Summary
        %tbody
          %tr
            %td
              = link_to "De-Recognition of TCF", root_url+"derecognition_tcf.pdf"
            %td
              TCUJ
            %td
              Derecognizes the Tufts Christian Fellowship due to religious discrimination in leadership selection of their club.
          %tr
            %td
              = link_to "Revised Non-Discrimination Policy", root_url+"non_discrimination_policy.pdf"
            %td
              CSL
            %td
              Revises the non-discrimination policy in the TCU Constitution to allow religious groups to have chaplaincy-approved "justifiable departures" from the non-discrimination policy in their leadership requirements.
          %tr
            %td
              = link_to "Judicial Order #1", root_url+"judicial_order_1.pdf"
            %td
              TCUJ
            %td
              Forbids the TCU Senate from punishing groups for using the CSL's recent revision of the TCU non-discrimination policy.
          %tr
            %td
              = link_to "Judicial Order #2", root_url+"judicial_order_2.pdf"
            %td
              TCUJ
            %td
              Overturns/Clarifies Judicial Order #1
          %tr
            %td
              = link_to "Branz vs. Senior Class Council", root_url+"branz_vs_senior_council.pdf"
            %td
              TCUJ
            %td
              Hearing decision: Senior Class Council does not violate the age clause of the TCU non-discrimination policy by holding Senior Pub Nights that only 21+ students can attend.
