=h content_for(:title, "Tufts Community Union - Judiciary")
.contentsection
  .paddedcontent
    %h2
      How To Start A Club
    %br/
    %p
      %strong
        %br/
    %p
      %strong> 1) Make sure your organization is a good fit for the TCU.  
      If you're running a sports team, you'll be better off under the Athletics department (contact
      = succeed "). If your organization is targeted at graduate students, you'll be better off under the Graduate Student Council (contact the" do
        %a{href: "mailto:branwen.smith-king@tufts.edu"} Branwen Smith-King
      = succeed ")." do
        %a{href: "mailto:gsc@tufts.edu"} Graduate Student Council
      Finally, do your best to ensure that no existing groups serve the same purpose as yours.
    %p  
    %p
      %strong> 2) Fill out a New Organization Registration Application
      \ (found at
      = succeed "). Return the form to the Office for Campus Life, located on floor 2 of the campus center.  There, you will sign up for a New Organization Information Meeting." do
        %a{href: "http://ocl.tufts.edu/student-orgs/new/"} http://ocl.tufts.edu/student-orgs/new/
      %strong These meetings are held in the FALL ONLY.  This means that GROUPS CAN ONLY BE FORMED IN THE FALL SEMESTER.
    %p  
    %p
      %strong> 3) Attend the Meeting
      \.  Once you do, your group will be classified as
      = succeed "," do
        %em Unrecognized
    %p  
    %p
      %strong> 4) Hold a General Interest Meeting
      \.  Make sure to have a sign-in sheet, including, at a minimum, name, signature, year of graduation, and local address at Tufts, email address, and phone number (anyone may refuse to provide a phone number, and such a refusal will not count against your organization) for each member on the list.
    %p  
    %p
      %strong> 5) Get Active on Campus
      \.  To get recognized, you'll need to show us at least 3 proofs of activity.  A "proof of activity" can be absolutely anything - a flyer, a picture of a chalking, a Tuftslife ad, a Facebook event -
      = succeed " Please include a rough date (month and year is good enough) with each proof." do
        %strong as long as all three reference a different activity, none of which is your General Interest meeting.
    %p  
    %p
      %strong> 6) Write a Constitution
      \.  A (very rough) outline can be found
      = succeed ". Pay close attention to your mission statement; it will be taken seriously." do
        %a{href: "http://ocl.tufts.edu/downloads/CreatingaConstitution.pdf"} here
      %strong Additionally,
      = succeed " 1) Only Tufts Students paying the Student Activities Fee can become members of your club, and 2) All Constitutional amendments must be approved by the Judiciary before taking effect." do
        %strong your Constitution must include the following:
    %p  
    %p
      %strong> 7) (Maybe) Get Other Materials
      \.  If you're starting a religious organization, you need a letter of approval from the Chaplaincy.  If your club is a branch of a national organization, you need a letter from nationals saying that they're aware and approve of your efforts to start a chapter at Tufts.
    %p  
    %p
      %strong> 8) Email the Recognition Chair
      \ informing them that you've collected all materials and are ready to meet.  They will get back to you with a time and place.
    %p  
    %p
      %strong> 9) Meet with the Recognition Chair.
      \  Bring all your materials (don't forget your General Interest Meeting membership list).  They will review your materials, make sure everything is in order, and schedule you in at the next Judiciary meeting.
    %p  
    %p
      %strong> 10) Meet with the Judiciary
      \.  Again, bring all your materials.  Either email your constitution to your Judiciary contact and bring a physical copy or bring five physical copies.  At the meeting, you will first talk about your club, your past activity, and the direction you want to take the club (should last roughly 3-5 minutes).  You will then field questions from the Judiciary.  The entire process typically takes around 15 minutes, but can vary.  Before we adjourn at the end of the night, we will email you with the result.
    %p  
    %p
      %strong FAQ:
    %p
      %span{style: "text-decoration: underline;"} 1) What are the possible results of a meeting with the Judiciary?
    %p There are 5 possible results:
    %p - Recognized.  You're done.  You can now head to the Senate to request funding, if you'd like.
    %p - Recognized Without Funding.  You're done, but you cannot request funding from the Senate (you can however do any of the other things that Recognized organizations can do).
    %p - Recognized Pending.  This means we have minor issues - often with your Constitution - that we'd like resolved before your group is upgraded to either Recognized or Recognized Without Funding.
    %p - Tabled.  This means we need more information before we can make a decision.  You may or may not need to come back in.
    %p - Non-TCU-classified. This is a general term for an organization that has none of the above classifications: Recognized, Recognized Without Funding, Recognized Pending, etc.
    %p  
    %p
      %span{style: "text-decoration: underline;"} 2) Does recognition mean we get funding?
    %p Not at all.  It means you can go to the treasury and request funding, but it doesn't by any means guarantee that they'll give you any.
    %p  
    %p
      %span{style: "text-decoration: underline;"} 3) Can we gather our materials out of order?
    %p Sure.  You can even get them before the informational meeting if you'd like.
    %p  
    %p
      %span{style: "text-decoration: underline;"} 4) Can our proofs of activity/consitution/membership list come from last semester?
    %p Your proofs of activity and constitution can, but your membership list needs to be current.  In fact, activity in past semesters will significantly help your chances of recognition, although if you come to us late in the semester we'll expect some more current activity.
    %p
      %span{style: "text-decoration: underline;"} 5) Can the decision of the TCUJ be appealed?
    %p Yes, any decision of the TCUJ, including decisions made as a result of the recognition process, can be appealed to the Committee on Student Life (CSL), which is a standing student-faculty committee of the Faculty of Arts, Sciences, & Engineering.  You must submit an appeal to the CSL within 10 calendar days after your group is informed of the TCUJ's decision.