=h content_for(:title, "Tufts Community Union - Student Organizations")
.contentsection
  .row-fluid
    .span4
    .span4
      .formwrapper
        = form_for @group, :url => {:action => "create"}, :html => { :multipart => true } do |f|
          %h3
            Add a New Student Group
          %div
            = f.number_field :council, placeholder: "Council Number"
          %div
            = f.number_field :account_number, placeholder: "Account Number"
          %div
            = f.text_field :name, placeholder: "Group Name"
          %div
            = f.file_field :budget
          %div
            = f.file_field :constitution
          %div
            = f.submit "Update", class: "btn btn-success"
    .span4
      = link_to "Delete Group", studentorganizations_delete_path