.contentsection
  .row-fluid
    .span4
      - if !@slider_image.photo_file_name.nil?
        = image_tag @slider_image.photo.url
    .span4
      .formwrapper
        = form_for @slider_image, :url => {:action => "update"}, :html => { :multipart => true } do |f|
          %h3
            Add a New Slider Image
          %h6
            If you would like to upload a video, just fill in the 'link' field below with a Vimeo or Youtube link. Otherwise, upload an image and use the link field to enter the URL you would like the image to link to when clicked (this is optional).
          %div
            = f.url_field :link, placeholder: "Link/Video"
          %div
            = f.file_field :photo
          %div
            = f.submit "Update", class: "btn btn-success"
    .span4
      = link_to sliderimage_path(@slider_image.id), method: "delete" do
        Delete Image